.categoryid {
  width: 80px;
}

.categoryname {
  width: 430px;
}
/* .Category-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
} */

/* .Category-form-card,
.Category-table-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
} */

/* FORM */
/* .Category-form-card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* .Category-form-card input {
  border-radius: 5px;
  border: 1px solid #bbb;
} */

/* MOBILE */
@media (max-width: 600px) {
  .categoryname {
    width: 195px;
  }
}

